
{% extends "booking/base.html" %} 
{% load static %}
{% block content %}
    <div class="container">
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="#">
                        <img src="{% static 'img/lat-mat-7.webp' %}" alt="" class="d-block w-100" >
                    </a>
                    <p><a class="btn btn-lg btn-primary  btn-booking" href="#">Đặt vé ngay</a></p>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="{% static 'img/1215x365.webp' %}" alt="" class="d-block w-100" >
                    </a>
                    <p><a class="btn btn-lg btn-primary  btn-booking" href="#">Đặt vé ngay</a></p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

       
        <div class="d-flex align-items-center justify-content-center mt-5">
            <h1 class="heading">Phim đang chiếu</h1>
        </div>

        <div class="container pt-0">
            <div id="myCarousel_1" class="carousel slide mb-6" data-bs-ride="carousel">
                <div style="bottom: -60px;" class="carousel-indicators">
                  <button type="button" data-bs-target="#myCarousel_1" data-bs-slide-to="0" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#myCarousel_1" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
                  <button type="button" data-bs-target="#myCarousel_1" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <div class="col">
                              <div style="border: none;"  class="card text-center">
                                <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                <div style="background-color: #000;" class="card-body" >
                                    <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                    <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                        <span class="txt">Đặt Vé Ngay</span>
                                      </a>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                                <div style="border: none;"  class="card text-center">
                                  <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                  <div style="background-color: #000;" class="card-body" >
                                      <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                      <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                          <span class="txt">Đặt Vé Ngay</span>
                                        </a>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div style="border: none;"  class="card text-center">
                                  <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                  <div style="background-color: #000;" class="card-body" >
                                      <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                      <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                          <span class="txt">Đặt Vé Ngay</span>
                                        </a>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div style="border: none;"  class="card text-center">
                                  <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                  <div style="background-color: #000;" class="card-body" >
                                      <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                      <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                          <span class="txt">Đặt Vé Ngay</span>
                                        </a>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <div class="col">
                              <div style="border: none;"  class="card text-center">
                                <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                <div style="background-color: #000;" class="card-body" >
                                    <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                    <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                        <span class="txt">Đặt Vé Ngay</span>
                                      </a>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                                <div style="border: none;"  class="card text-center">
                                  <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                  <div style="background-color: #000;" class="card-body" >
                                      <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                      <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                          <span class="txt">Đặt Vé Ngay</span>
                                        </a>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div style="border: none;"  class="card text-center">
                                  <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                  <div style="background-color: #000;" class="card-body" >
                                      <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                      <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                          <span class="txt">Đặt Vé Ngay</span>
                                        </a>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div style="border: none;"  class="card text-center">
                                  <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                  <div style="background-color: #000;" class="card-body" >
                                      <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                      <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                          <span class="txt">Đặt Vé Ngay</span>
                                        </a>
                                  </div>
                                </div>
                              </div>
                    </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel_1" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel_1" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div style="margin-top: 60px;" class="d-flex align-items-center justify-content-center">
            <button  class="btn btn--outline border-warning btn-additional" href="#"><h5 style="padding-left: 10px; padding-right: 10px;">Xem thêm</h5></button>
        </div>


        <div class="d-flex align-items-center justify-content-center mt-5 pt-5">
            <h1 class="heading">Phim sắp chiếu</h1>
        </div>

        <div class="container pt-0">
            <div id="myCarousel_2" class="carousel slide mb-6" data-bs-ride="carousel">
                <div style="bottom: -60px;" class="carousel-indicators">
                  <button type="button" data-bs-target="#myCarousel_2" data-bs-slide-to="0" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#myCarousel_2" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
                  <button type="button" data-bs-target="#myCarousel_2" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <div class="col">
                              <div style="border: none;"  class="card text-center">
                                <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                <div style="background-color: #000;" class="card-body" >
                                    <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                    <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                        <span class="txt">Đặt Vé Ngay</span>
                                      </a>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                                <div style="border: none;"  class="card text-center">
                                  <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                  <div style="background-color: #000;" class="card-body" >
                                      <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                      <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                          <span class="txt">Đặt Vé Ngay</span>
                                        </a>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div style="border: none;"  class="card text-center">
                                  <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                  <div style="background-color: #000;" class="card-body" >
                                      <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                      <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                          <span class="txt">Đặt Vé Ngay</span>
                                        </a>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div style="border: none;"  class="card text-center">
                                  <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                  <div style="background-color: #000;" class="card-body" >
                                      <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                      <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                          <span class="txt">Đặt Vé Ngay</span>
                                        </a>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <div class="col">
                              <div style="border: none;"  class="card text-center">
                                <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                <div style="background-color: #000;" class="card-body" >
                                    <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                    <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                        <span class="txt">Đặt Vé Ngay</span>
                                      </a>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                                <div style="border: none;"  class="card text-center">
                                  <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                  <div style="background-color: #000;" class="card-body" >
                                      <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                      <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                          <span class="txt">Đặt Vé Ngay</span>
                                        </a>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div style="border: none;"  class="card text-center">
                                  <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                  <div style="background-color: #000;" class="card-body" >
                                      <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                      <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                          <span class="txt">Đặt Vé Ngay</span>
                                        </a>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div style="border: none;"  class="card text-center">
                                  <a href="#"><img src="{% static 'img/poster-lat-mat-7.webp' %}" class="card-img-top" alt="..."></a>
                                  <div style="background-color: #000;" class="card-body" >
                                      <a href="#" class="card-title film-name">LẬT MẶT 7: MỘT ĐIỀU ƯỚC (K)</a>
                                      <a style="margin-right: 50px; margin-top: 10px;" class="btn btn--pri ms-5 card-text" href="#">
                                          <span class="txt">Đặt Vé Ngay</span>
                                        </a>
                                  </div>
                                </div>
                              </div>
                    </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel_2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel_2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div style="margin-top: 60px;" class="d-flex align-items-center justify-content-center">
            <button  class="btn btn--outline border-warning btn-additional" href="#"><h5 style="padding-left: 10px; padding-right: 10px;">Xem thêm</h5></button>
        </div>

        <div class="d-flex align-items-center justify-content-lg-start mt-5 pt-5">
            <h1 class="heading">Khuyến mãi</h1>
        </div>

        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="#">
                        <img src="{% static 'img/lat-mat-7.webp' %}" alt="" class="d-block w-100" >
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="{% static 'img/1215x365.webp' %}" alt="" class="d-block w-100" >
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    
{% endblock content %}

