html,body {
    background-color: #000;
}
.hd-action {
	width: 500px;
	height: 40px;
}

.btn--pri{
    font-weight: bold;
    color: #000;
    background: #f3ea28;
    right: 0;   
    top: 0;
    width: 140px ;
	height: 40px;
}

.btn--pri:hover {
    background: #a19900;
}

.btn--pri span{
	font-size: 14px;
}

.btn--second{
    font-weight: bold;
    color: #fff;
    background: #663399;
    right: 0;
    top: 0;
    width: 145px;
	height: 40px;
    z-index: -2;
}
.btn--pri:hover {
    background: #d106ff;
}
.btn--second:hover {
    background: #ec833d;
}

.btn--second span{
	font-size: 14px;
}

.a_calendar {
    text-decoration: none;
    color: #fff;
}

.a_calendar:hover {
    color: #f3ea28;
}

.a_sale {
    font-weight: bold;
    color: #fff;
}

.a_sale:hover {
    color: #f3ea28;
}

.a_intro {
    font-weight: bold;
    color: #fff;
    margin-left: 30px;
}

.a_intro:hover {
    color: #f3ea28;
}

#main-content .container{
    padding-top: 142px;
}


.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Đảm bảo nút "Đặt vé ngay" hiển thị phía trên */
}

.btn-booking {
    position: absolute;
    bottom: 30px; /* Điều chỉnh khoảng cách từ bottom tùy theo vị trí mong muốn */
    left: 50%;
    margin-left: 300px;
    transform: translateX(-50%);
    background: #f3ea28;
    font-weight: bold;
    color: #000;
    padding:10px ;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-booking:hover {
    color: #fff;
    background: #d106ff;
}

.heading {
    color: #fff;
    padding: 40px 0px;
    font-weight: 900
}

.film-name {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.btn-additional {
    color: #fff;
}
.btn-additional:hover {
    background-color: #ec833d;
}

.carousel-control-prev {
    
    top: 50%;
    left: -140px; /* Điều chỉnh vị trí của nút điều khiển prev */
    transform: translateY(-50%);
    z-index: 1; /* Đảm bảo nút prev hiển thị trên các card */
  }
  
  .carousel-control-next {
    top: 50%;
    right: -140px; /* Điều chỉnh vị trí của nút điều khiển next */
    transform: translateY(-50%);
    z-index: 1; /* Đảm bảo nút next hiển thị trên các card */
    color: #fff;
  }
.carousel-control-prev-icon {
    color: #fff;
}

.fa-solid {
    color: yellow;
}

.rounded-image {
    border-radius: 10px; /* Bo tròn 4 góc của ảnh, bạn có thể điều chỉnh giá trị này */
}

.title_film {
    font-weight: bold;
}



.modal-dialog {
    max-width: 800px;
    margin: 150px auto;
}

.modal-body {
    position:relative;
    padding:0px;
}

.btn-close {
    position:absolute;
    right:-30px;
    top:0;
}

.swiper-slide{
    width: 135px;
    
}

.box-item {
    align-items: center;
    border: .1rem solid #f3ea28;
    border-radius: .4rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    min-height: 6.3rem;
    padding: 1.6rem .8rem;
    transition: all .2s;
    width: -moz-fit-content;
    width: fit-content;
    width: 103px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: fit-content;
}

.active .box-item{
    background-color: #f3ea28;
    border-color: #f3ea28;
    color: #f8fafc;
    pointer-events: none;
}



.date {
    color: #f3ea28;
    font-family: var(--font-title);
    font-size: 24px;
    letter-spacing: .02rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
}
.active .date{
    color: #639;
}

.day {
    color: #f3ea28;
    font-weight: 700;
    margin: 0;
}
.active .day{
    color: #639;
}

.shtime-body {
    width: 800px;
    margin:auto;
}

.dropdown {
    width: 170px;
    background-color: transparent !important;
    border: .1rem solid #f3ea28 !important;
    border-radius: .4rem;
   
}
.text-yellow{
    display: inline-block;
    margin-top: 8px;
    color: #f3ea28 !important;
}
.btn-location{
    text-decoration: none;
    
}

.shtime-ft{
    width: 800px;
    margin:auto;
}

.cinestar-list {
    margin-left: -30px;
    list-style: none;
}

.cinestar-item {
    width: 800px;
    height: 300px;
    background: #639;
    border-radius: .4rem;
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cinestar-item h4{
    color: #f3ea28;
    padding: 2rem;
}

.list-time {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 2rem;
}

.item-time {
    border: .5px solid #f8fafc;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .3s;
    width: 60px;
    height: 33px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disable {
    border: .5px solid #64748b;
    color: #64748b;
}

.seat-heading .heading {
    color: #f8fafc;
    font-family: var(--font-title);
    margin-bottom: 10px;
}

.seat-screen .txt {
    font-size: 1.6rem;
    margin-top: -4rem;
}

.seat-main {
    width: 1200px;
    margin: auto;
    margin-top: 4rem;
}

.seat-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Khoảng cách giữa các ghế */
}

.seat-row div{
    width: 25px; 
    text-align: center;
    /* padding: 10px; */
    background-color: #ddd; /* Màu nền của ghế */
    border: 1px solid #ccc; /* Đường viền của ghế */
    color: #639;
    font-weight: 600;
    border-radius: 5px; /* Bo góc */
    cursor: pointer;
}

.seat-row .disable{
    background-color: #241f1f; /* Màu nền của ghế */
    color: #ccc;
}

.seat-row .active{
    background-color: #f3ea28; /* Màu nền của ghế */
  
}

.image-seat  {
    height: 25px;
    display: block;
    background-color: #f3ea28;
    width: 72px;
    border-radius: 5px;
    margin-left: 155px;
    margin-bottom: 5px;
}


.bg-bill {
    background-color: #241f1f;
}


.container-bill{
    bottom: 0px;
    margin-left: -65px;
    padding-top: 32px !important;
    padding-bottom: 10px;
    border-top: .1rem solid rgba(248, 250, 252, .5);
    padding-left: 25px;
    width: 1428px !important;
   
}

body {
    overflow-x: hidden;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Căn lề trái cho các phần tử bên trong */
}
.contact-form h6, .contact-form p {
    margin: 0; /* Loại bỏ margin để không có khoảng cách thêm */
}

.divider {
    width: 100%;
    text-align: center;
    border: none;
    
}
.divider:before {
    content: '------------------------------------';
    color: white; /* Màu trắng cho dấu ba chấm */
    font-size: 40px; /* Kích thước phông chữ */
}