html,body {
    background-color: #000;
}
.hd-action {
	width: 500px;
	height: 40px;
}

.btn--pri{
    font-weight: bold;
    color: #000;
    background: #f3ea28;
    right: 0;   
    top: 0;
    width: 140px ;
	height: 40px;
}

.btn--pri:hover {
    background: #a19900;
}

.btn--pri span{
	font-size: 14px;
}

.btn--second{
    font-weight: bold;
    color: #fff;
    background: #663399;
    right: 0;
    top: 0;
    width: 145px;
	height: 40px;
    z-index: -2;
}
.btn--pri:hover {
    background: #d106ff;
}
.btn--second:hover {
    background: #ec833d;
}

.btn--second span{
	font-size: 14px;
}

.a_calendar {
    text-decoration: none;
    color: #fff;
}

.a_calendar:hover {
    color: #f3ea28;
}

.a_sale {
    font-weight: bold;
    color: #fff;
}

.a_sale:hover {
    color: #f3ea28;
}

.a_intro {
    font-weight: bold;
    color: #fff;
    margin-left: 30px;
}

.a_intro:hover {
    color: #f3ea28;
}

#main-content .container{
    padding-top: 142px;
}


.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Đảm bảo nút "Đặt vé ngay" hiển thị phía trên */
}

.btn-booking {
    position: absolute;
    bottom: 30px; /* Điều chỉnh khoảng cách từ bottom tùy theo vị trí mong muốn */
    left: 50%;
    margin-left: 300px;
    transform: translateX(-50%);
    background: #f3ea28;
    font-weight: bold;
    color: #000;
    padding:10px ;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-booking:hover {
    color: #fff;
    background: #d106ff;
}

.heading {
    color: #fff;
    padding: 40px 0px;
    font-weight: 900
}

.film-name {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.btn-additional {
    color: #fff;
}
.btn-additional:hover {
    background-color: #ec833d;
}

.carousel-control-prev {
    
    top: 50%;
    left: -140px; /* Điều chỉnh vị trí của nút điều khiển prev */
    transform: translateY(-50%);
    z-index: 1; /* Đảm bảo nút prev hiển thị trên các card */
  }
  
  .carousel-control-next {
    top: 50%;
    right: -140px; /* Điều chỉnh vị trí của nút điều khiển next */
    transform: translateY(-50%);
    z-index: 1; /* Đảm bảo nút next hiển thị trên các card */
    color: #fff;
  }
.carousel-control-prev-icon {
    color: #fff;
}

